<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Paintbot.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Paintbot.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Paintbot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Paintbot.Settings>
            <setting name="colorContainerHeight_mm" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="zMoveHeight_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="brushsize_mm" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="colorPosY_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="colorPosX_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="colorPosZ_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xySpeed_mm_min" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="pickColorFrequency" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="zSpeed_mm_min" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="gcodeEndPath" serializeAs="String">
                <value>D:\Paintbot\conf\gcodeEnd.txt</value>
            </setting>
            <setting name="gcodeStartPath" serializeAs="String">
                <value>D:\Paintbot\conf\gcodeStart.txt</value>
            </setting>
            <setting name="outputPath" serializeAs="String">
                <value>D:\Paintbot\out\</value>
            </setting>
            <setting name="imagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ignoreColor_hex" serializeAs="String">
                <value>ffffffff</value>
            </setting>
            <setting name="zDepth_mm" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="colorAtYgantry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="flipYAxis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="endOverWater" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="moveZXsameTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="canvasZeroPosX_mm" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="canvasZeroPosY_mm" serializeAs="String">
                <value>-10</value>
            </setting>
            <setting name="canvasZeroPosZ_mm" serializeAs="String">
                <value>-10</value>
            </setting>
            <setting name="progressbar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maxWidthX" serializeAs="String">
                <value>905</value>
            </setting>
            <setting name="maxHeightY" serializeAs="String">
                <value>1640</value>
            </setting>
            <setting name="colorDefinitions" serializeAs="String">
                <value />
            </setting>
            <setting name="centerOnCanvas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useColorPosDef" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maxNumColorPerFile" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="waterPosX_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="waterPosY_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="waterPosZ_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cleanBrushPicks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="filePrefix" serializeAs="String">
                <value>0file</value>
            </setting>
            <setting name="colorMoveRadius" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="waterMoveRadius" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="spongeMoveRadius" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="tissueMoveRadius" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="spongePosX_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="spongePosY_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="spongePosZ_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tissuePosX_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tissuePosY_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tissuePosZ_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="useSponge" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useWater" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useTissue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minCircleDiameterPixel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="maxCircleDiameterPixel" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="amountOfCircles" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="useRectangleErase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filterResizeRecolor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="groupColorFactor" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="amountOfColors" serializeAs="String">
                <value>0</value>
            </setting>
        </Paintbot.Settings>
        <Paintbot.Settings1>
            <setting name="colorContainerHeight_mm" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="zMoveHeight_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="brushsize_mm" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="colorPosY_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="colorPosX_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="colorPosZ_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xySpeed_mm_min" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="pickColorFrequency" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="zSpeed_mm_min" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="gcodeEndPath" serializeAs="String">
                <value>conf\\gcodeEnd.txt</value>
            </setting>
            <setting name="gcodeStartPath" serializeAs="String">
                <value>conf\\gcodeStart.txt</value>
            </setting>
            <setting name="inputPath" serializeAs="String">
                <value>W:\Alex\PaintBot\PaintBot270119\</value>
            </setting>
            <setting name="outputPath" serializeAs="String">
                <value>out\\</value>
            </setting>
            <setting name="imagePath" serializeAs="String">
                <value>in.bmp</value>
            </setting>
            <setting name="ignoreColor_hex" serializeAs="String">
                <value>ffffffff</value>
            </setting>
        </Paintbot.Settings1>
    </userSettings>
    <applicationSettings>
        <Paintbot.Properties.Settings>
            <setting name="brushSizeMM" serializeAs="String">
                <value>0</value>
            </setting>
        </Paintbot.Properties.Settings>
    </applicationSettings>
</configuration>