<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Paintbot.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Paintbot.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Paintbot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Paintbot.Settings>
            <setting name="colorContainerHeight_mm" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="zMoveHeight_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="brushsize_mm" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="colorPosY_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="colorPosX_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="colorPosZ_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xySpeed_mm_min" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="pickColorFrequency" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="zSpeed_mm_min" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="gcodeEndPath" serializeAs="String">
                <value>D:\Paintbot\conf\gcodeEnd.txt</value>
            </setting>
            <setting name="gcodeStartPath" serializeAs="String">
                <value>D:\Paintbot\conf\gcodeStart.txt</value>
            </setting>
            <setting name="outputPath" serializeAs="String">
                <value>D:\Paintbot\out\</value>
            </setting>
            <setting name="imagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ignoreColor_hex" serializeAs="String">
                <value>ffffffff</value>
            </setting>
            <setting name="zDepth_mm" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="colorAtYgantry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="flipYAxis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="endOverWater" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="moveZXsameTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="canvasZeroPosX_mm" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="canvasZeroPosY_mm" serializeAs="String">
                <value>-10</value>
            </setting>
            <setting name="canvasZeroPosZ_mm" serializeAs="String">
                <value>-10</value>
            </setting>
            <setting name="progressbar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maxWidthX" serializeAs="String">
                <value>905</value>
            </setting>
            <setting name="maxHeightY" serializeAs="String">
                <value>1640</value>
            </setting>
            <setting name="colorDefinitions" serializeAs="String">
                <value>a101/ffffffff/42/-748
a102/fff4ed56/72/-748
a103/ff262c3a/102/-748
a105/ffd13d43/132/-748
a106/ffd73d35/162/-748
a107/ff9a4635/192/-748
a108/ff5b3a31/222/-748
a109/ff6ec856/270/-748
a110/ff4b4273/300/-748
a111/ff433866/330/-748
a112/ff000000/360/-748
a113/ffcf9a38/390/-748
a114/ffdc5b2c/420/-748
a115/ffd51e81/450/-748
a116/ff3c334d/498/-748
a117/ffb3c8e5/528/-748
a118/ff42372f/558/-748
a119/ffbb843a/588/-748
a120/ff72c898/618/-748
a121/ffeecf3d/648/-748
a122/ff294321/678/-748
a123/ff5d8ee1/42/-780
a124/ff7197f7/72/-780
a125/ff3c3333/102/-780
a126/ffd94834/132/-780
a127/ffb48347/162/-780
a128/ffcacace/192/-780
a129/ffd0a574/222/-780
a130/ff6b5340/270/-780
a131/fff1d69e/300/-780
a132/ffb0b1b5/330/-780
a134/ff8369bf/360/-780
a135/fff4e2b7/390/-780
a136/ff40706e/420/-780
a137/ff5f643c/450/-780
a138/ffd1333c/498/-780
a139/ffecda3e/528/-780
a140/ffe39d33/558/-780
a141/ffe59cd0/588/-780
a142/ffd83f38/618/-780
a143/ff325719/648/-780
a144/ffa97537/678/-780
a145/ffda4538/42/-816
a146/ffdc37be/72/-816
a147/ff5d84dd/102/-816
a148/ffde7b2d/132/-816
a149/ff41684d/162/-816
a150/ff9a3138/192/-816
a151/ff833130/222/-816
a152/ffb4553d/270/-816
a153/ff5a392f/300/-816
a154/ff69a1f5/330/-816
a155/ffce383c/360/-816
a156/ff52911f/390/-816
a157/ffdb4f76/420/-816
a158/ff282d39/450/-816
a159/ff4c8a54/498/-816
a160/ff2a292e/528/-816
a161/ffd93c44/558/-816
a162/ff38302d/588/-816</value>
            </setting>
            <setting name="centerOnCanvas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useColorPosDef" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maxNumColorPerFile" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="waterPosX_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="waterPosY_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="waterPosZ_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cleanBrushPicks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="filePrefix" serializeAs="String">
                <value>0file</value>
            </setting>
            <setting name="colorMoveRadius" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="waterMoveRadius" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="spongeMoveRadius" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="tissueMoveRadius" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="spongePosX_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="spongePosY_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="spongePosZ_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tissuePosX_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tissuePosY_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tissuePosZ_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="useSponge" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useWater" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useTissue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minCircleDiameterPixel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="maxCircleDiameterPixel" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="amountOfCircles" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="useRectangleErase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filterResizeRecolor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="groupColorFactor" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="amountOfColors" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="waterContainerHeight_mm" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="wiggleAmountWater" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="wiggleAmountSponge" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="wiggleAmountTissue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="wiggleAmountColor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cleanBrushStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pixelFileLimit" serializeAs="String">
                <value>False</value>
            </setting>
        </Paintbot.Settings>
        <Paintbot.Settings1>
            <setting name="colorContainerHeight_mm" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="zMoveHeight_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="brushsize_mm" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="colorPosY_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="colorPosX_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="colorPosZ_mm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xySpeed_mm_min" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="pickColorFrequency" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="zSpeed_mm_min" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="gcodeEndPath" serializeAs="String">
                <value>conf\\gcodeEnd.txt</value>
            </setting>
            <setting name="gcodeStartPath" serializeAs="String">
                <value>conf\\gcodeStart.txt</value>
            </setting>
            <setting name="inputPath" serializeAs="String">
                <value>W:\Alex\PaintBot\PaintBot270119\</value>
            </setting>
            <setting name="outputPath" serializeAs="String">
                <value>out\\</value>
            </setting>
            <setting name="imagePath" serializeAs="String">
                <value>in.bmp</value>
            </setting>
            <setting name="ignoreColor_hex" serializeAs="String">
                <value>ffffffff</value>
            </setting>
        </Paintbot.Settings1>
    </userSettings>
    <applicationSettings>
        <Paintbot.Properties.Settings>
            <setting name="brushSizeMM" serializeAs="String">
                <value>0</value>
            </setting>
        </Paintbot.Properties.Settings>
    </applicationSettings>
</configuration>